:root {
    --font: 'Caveat';
    --font-size: 1em;
}

* {
    font-family: var(--font);
}

main {
    height: 100%;
}

.contact {
    padding: 3em 3em 5em;
    padding-bottom: 5em;
    width: 100%;
    height: 100%;
    background-color: #FFC83C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10vmin;
}

.reviews {
    margin-top: 5em;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.reviewForm {
    margin-top: 1em;
    font-size: 1.5rem;
    color: #ED2424;
    width: 20em;
}

form > * {
    margin: 10px 0;
    font-size: larger;
    border: none;
}

input[type='text'] {
    max-width: 100%;
    min-width: 60%;
    height: 1.5em;
    width: 100%;
}

textarea {
    max-width: 100%;
    min-width: 60%;
    height: 4em;
}

input[type="submit"] {
    color: white;
    background-color: #2D2222;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    width: 4em;
}

.contactDetails {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: hsl(48, 57%, 79%);
    flex-shrink: 0;
}

.contactDetails h2, p {
    font-size: 2em;
    margin: 1em 0;
    font-weight: bold;
}

.geoLocation {
    width: 100%;
    height: 10em;
    border: 0;
}

.socialMediaPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.socialMedia {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.socialMedia > img {
    height: 3em;
    cursor: pointer;
}

.socialMedia > img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
    .reviews {
        width: 80%;
    }

    .contact {
        padding: 0;
    }

    .reviewForm {
        width: auto;
        text-align: center;
    }

    .contactDetails {
        width: 100%;
    }

    .geoLocation {
        width: 90%;
    }

    .contactDetails p {
        font-size: 1.2em;
    }
  }

