main {
    background-image: url('../assets/home/bg_1.jpg');
    height: 100%;
    flex: 1;
}

.rightPane {
    height: inherit;
    width: 100%;
    bottom: 0;
    border-bottom: var(--pane_height);
    border-left: var(--pane_width);
    animation: animate 1s ease-in;
}

@keyframes animate {
    from {opacity: 0;}
    to {
        opacity: 1;
        transform: translateX(-2px);
    }
}

.introduction {
    float: right;
    margin-top: 30vh;
    width: 100vmin;
    height: calc(100vh - 30vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
}

.introduction > img {
    height: 200px;
    animation: rotation 2s 1 linear;
}

@keyframes rotation {
    from {rotate: 0deg;}
    to {rotate: 359deg;}
}

.welcomeMessage {
    background-color: var(--bg-color);
    font-size: 5vmin;
    font-weight: bold;
    margin: 1em;
    vertical-align: top;
}

.welcomeMessage::before {
    content: var(--text_1);
    animation: textChange infinite 5s 2s;
}

@keyframes textChange {
    30% {
        content: var(--text_1);
        opacity: 0;
    }
    32% {
        content: var(--text_2);
        opacity: 0.5;
    }
    35% {
        content: var(--text_2);
        opacity: 1;
    }
    80% {
        content: var(--text_2);
        opacity: 0;
    }
    82% {
        content: var(--text_1);
        opacity: 0.5;
    }
    100% {
        content: var(--text_1);
        opacity: 1;
    }
}

@media only screen and (max-width: 400px) {
    .welcomeMessage {
        font-size: 7vmin;
    }
}