:root {
    --para-size: 10px;
    --font: 'Caveat';
    --font-size: 5vmin;
}

* {
    font-family: var(--font);
}

html, body {
    height: 100vh;
}

h2 {
    text-align: center;
    text-decoration: overline underline;
}

main {
    background-color: #FFEEB1;
    font-weight: bold;
    height: 100%;
}

.navBar ul {
    background-color: hsl(50, 100%, 70%);
}

.catalogue {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 120px 0;
}

.catalogue > p {
    font-size: var(--font-size);
}

.cuisineType {
    width: 60vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    column-gap: 1em;
    padding: 1em;
    flex-wrap: wrap;
}

.menuBtn {
    height: 3em;
    width: 6em;
    font-size: 1em;
    border: none;
    /* color: blue;
    background-image: linear-gradient(to bottom right, orange, white, green); */
}

.menuBtn:hover {
    filter: brightness(80%);
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .menuType {
        width: auto;
    }
}

/********* Go Back *********/

.upArrow {
    height: 2em;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

/***************** Each Menu Page ******************/
.menuList {
    width: 100%;
    /* background-color: #673E3E; */
    background: linear-gradient(120deg, #fdcd3b 60%, #ffed4b 10%);
}

.menuBox {
    background-color: #F0E9CE;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 2fr));
    row-gap: 2em;
    column-gap: 1em;
    padding: 1em;
    margin: 5% 10%;
    flex-wrap: wrap;
}

.dish {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.2rem;
    padding: 1em;
    text-align: center;
}

.dish img {
    height: 6em;
    border-radius: 50%;
}

.order {
    background-color: #434710;
    color: #FFFFFF;
    font-size: 1em;
    width: 4em;
    height: 1.5em;
    cursor: pointer;
}

.order:hover {
    transform: scale(1.2);
}