.inactive {
    display: none;
}

.active {
    position: absolute;
    display: block;
    z-index: 1;
}

h2 {
    text-align: center;
    text-decoration: overline underline;
}

.menu {
    height: inherit;
    width: 100%;
    background-color: #FFEEB1;
    font-weight: bold;
    display: flex;
}

.catalogue {
    height: 30%;
    width: 100%;
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.catalogue > p {
    font-size: var(--menu-font-size);
}

.cuisineType {
    width: 60vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    column-gap: 1em;
    padding: 1em;
    flex-wrap: wrap;
}

.menuBtn {
    height: 3em;
    width: 6em;
    font-size: var(--menu-font-size);
    border: none;
    /* color: blue;
    background-image: linear-gradient(to bottom right, orange, white, green); */
}

.menuBtn:hover {
    filter: brightness(80%);
    transform: scale(1.1);
    cursor: pointer;
}

/********* Go Back *********/
.goBackBtn {
    background-color: transparent;
    height: 5em;
    width: auto;
    position: fixed;
    bottom: 10vh;
    left: 10px;
    z-index: 2;
    cursor: pointer;
    border: none;
}

.leftArrow {
    height: inherit;
}

/***************** Each Menu Page ******************/

.menuList {
    width: 100%;
    background: linear-gradient(120deg, #fdcd3b 60%, #ffed4b 10%);
}

.menuList h2 {
    font-size: calc(var(--menu-font-size) * 1.5);
}

.menuBox {
    background-color: #F0E9CE;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    row-gap: 2em;
    column-gap: 1em;
    padding: 1em;
    margin: 5% 10%;
    flex-wrap: wrap;
}

.dish {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    padding: 1em;
    text-align: center;
}

.dish img {
    height: 6em;
    width: auto;
    border-radius: 50%;
}

.dishInfo > p {
    height: 1em;
    font-size: var(--menu-font-size);
    margin: 0;
}

.order {
    background-color: #434710;
    color: #FFFFFF;
    font-size: var(--menu-font-size);
    width: 4em;
    height: 1.5em;
    cursor: pointer;
}

.order:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 980px) {
    .cuisineType {
        width: auto;
    }
}

@media screen and (max-width: 550px) {
    .menuBox {
        grid-template-columns: auto;
        padding-left: 0;
        padding-right: 0;
        row-gap: 1em;
    }

    .dish {
        width: auto;
    }

    .dish > img {
        height: 2em;
    }
}